.primary-color {
    color: #F33800;
}

.primary-bg-color {
    background-color: #F33800;
}

.F0EBDA-color {
    color: #F0EBDA;
}

.F0EBDA-bg-color {
    background-color: #F0EBDA;
}

.hover-text:hover{
    color: #F33800 !important;
}

.FF1717-color {
    color: #FF1717;
}

.header-end-auction {
    border-top: 4px solid #FF1717;
    background-color: #FFE5E5;
}

.F5EDCE-color{
    color: #F5EDCE;
}

.F5EDCE-bg-color {
    background-color: #F5EDCE;
}

.dark-blue-color{
    color: #2D207A;
}

.dark-blue-bg-color{
    background-color: #2D207A;
}

.FAF6EA-bg-color {
    background-color: #FAF6EA;
}

/* Áp dụng cho toàn bộ trang */
::-webkit-scrollbar {
    width: 8px; /* hoặc chiều cao nếu cuộn ngang */
}

::-webkit-scrollbar-thumb {
    background-color: #F33800;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #eeeeee;
    border-radius: 5px;
}

html {
    scroll-behavior: smooth;
}

.fs-7{
    font-size: 15px;
}

.fs-7-5{
    font-size: 18px;
}

.fs-8{
    font-size: 20px;
}

.fs-9{
    font-size: 22px;
}

input {
    outline: none;
    border: none;   
}

a {
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

button {
    outline: none;
    border: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pointer{
    cursor: pointer;
}

.linear-orange{
    background: linear-gradient(to bottom, #FFF7E9, #FFD0AC);
}

.linear-green{
    background: linear-gradient(to bottom, #E9FFF5, #99FFCC);
}

.placeholder-black::placeholder {
    color: black;
}

.button-primary{
    background-color: #F33800;
    color: white;
    font-size: 17px;
    border-radius: 6px;
}

.button-sub {
    border: 1px solid #F33800;
    color: #F33800;
    border-radius: 6px;
    font-size: 17px;
    background-color: white;
}

.div-infomation {
    display: none;
}

.div-bell:hover > .div-infomation {
    display: block;
}

.category-active {
    background-color: #F33800;
    color: white;
}

.ended-div {
    width: 100px;
    padding: 3px 8px;
    color: white;
    background-color: #575758;
    clip-path: polygon(100% 0, 70% 45%, 100% 100%, 0 100%, 0 0);
}

.line-under {
    position: relative;
    margin-top: 10px;
  }
  
  .line-under::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 1px;
    width: 80%;
    background-color: #B8B4B4;
  }

.bank{
    position: relative;
    width: 230px;
    height: 140px;
}

.bank img{
    width: 100%;
    height: 100%;
}

.bank:hover::after{
    display: block;
}

.bank::after{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 10;
    background-color: #154bdf91;
    cursor: pointer;
}

.qr-bank{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rbga(0, 0, 0, 0,6);
    backdrop-filter: blur(5px);
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 999;
}

.qr-bank.active{
    visibility: visible;
    opacity: 1;
}



