* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.primary-color {
    color: #F33800;
}

.primary-bg-color {
    background-color: #F33800;
}

.dark-blue-color{
    color: #2D207A;
}

.dark-blue-bg-color{
    background-color: #2D207A;
}

ul {
    padding: 0;
}

button {
    border: none;
    outline: none;
}

h1,h2,h3,h4,h5 {
    padding: 0;
    margin: 0;
}

input {
    border: none;
    outline: none;
}

table,td,tr,th {
    border: 1px solid #333;
    border-collapse: collapse;
    padding: 5px 10px;
}

th {
    text-align: center;
}

.button_active{
    background-color: #F33800;
    color: #ffffff;
    border-radius: 6px;
}

.hover-li:hover{
    background-color: #F33800;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.div-delete-user{
    display: none;
}

.ended-div {
    width: 100px;
    padding: 3px 8px;
    color: white;
    background-color: #575758;
    clip-path: polygon(100% 0, 70% 45%, 100% 100%, 0 100%, 0 0);
}

.button-primary{
    background-color: #F33800;
    color: white;
    font-size: 17px;
    border-radius: 6px;
}

.button-sub {
    border: 1px solid #F33800;
    color: #F33800;
    border-radius: 6px;
    font-size: 17px;
    background-color: white;
}
